hr {
  margin-bottom: 2rem;
}
h3 {
  display: none;
}
#page {
  display: none;
  padding: 1.5rem;
  max-width: 700px;
  width: 100%;
}
#btn_generate {
  display: block;
  width: 100%;
}
.container {
  margin: 3rem auto;
}
.required {
  color: red;
}
.field-required {
  border: 2px solid red;
}
